universidad/comercio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.eam.edu.co/comercio/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="comercio"
	targetNamespace="http://www.eam.edu.co/comercio/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.eam.edu.co/comercio/">

			<xsd:element name="producto">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nombre" type="xsd:string" />
						<xsd:element name="codigo" type="xsd:string" />
						<xsd:element name="precio" type="xsd:double" />
						<xsd:element name="imagen">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="url" type="xsd:string" />
									<xsd:element name="alto" type="xsd:int" />
									<xsd:element name="ancho" type="xsd:int" />

								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="productos">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nombre" type="tns:producto"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="consultaRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codigo" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="consultaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="producto" type="tns:producto" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="busquedaRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nombre" type="xsd:string" nillable="false" />
						<xsd:element name="pagina" type="xsd:int" nillable="true" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="busquedaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="paginacion">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="paginastotales" type="xsd:int" />
									<xsd:element name="paginastotales" type="xsd:int" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="productos" type="tns:productos" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			
		</xsd:schema>

	</wsdl:types>

	<wsdl:message name="busquedaRequest">
		<wsdl:part element="tns:busquedaRequest" name="parameters" />
	</wsdl:message>

	<wsdl:message name="busquedaResponse">
		<wsdl:part element="tns:busquedaResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="consultaRequest">
		<wsdl:part element="tns:consultaRequest" name="parameters" />
	</wsdl:message>

	<wsdl:message name="consultaResponse">
		<wsdl:part element="tns:consultaResponse" name="parameters" />
	</wsdl:message>
	
	
	<wsdl:portType name="comercio">
		<wsdl:operation name="consulta">
			<wsdl:input message="tns:consultaRequest" />
			<wsdl:output message="tns:consultaResponse" />
		</wsdl:operation>
		
		
		
		<wsdl:operation name="busqueda">
			<wsdl:input message="tns:busquedaRequest" />
			<wsdl:output message="tns:busquedaResponse" />
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="comercioSOAP" type="tns:comercio">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="consulta">
			<soap:operation soapAction="http://www.eam.edu.co/comercio/consulta" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="busqueda">
			<soap:operation soapAction="http://www.eam.edu.co/comercio/consulta" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="comercio">
		<wsdl:port binding="tns:comercioSOAP" name="comercioSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
